.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
}

.bar {
    fill: steelblue;
}

.node {
    fill: steelblue;
}

.bar text {
    fill: black;   
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

div#content {
    margin-top: 30px;
}
